body{
    background-color:black;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
    
}
.poster{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 2rem;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
   
    

}
.image{
  border: 5px solid white;
  width: 35%;
}
